- if @social_services.empty?
  .row: .col-md-12.text-center: h2 Choose a social network to start
  .row.socials
    .col-md-3.col-md-offset-3
      .fb-login-button data-max-rows="1" data-size="xlarge" onlogin="handleFacebook(function() { handleSocials([]); })"
    .col-md-3 twitter
- else
  .row
    .col-md-12: .loading.alert.alert-info role="alert"
      img src="/images/loading.gif"
      span.loading-text Loading...
    #social-services

  javascript:
    $(document).ready(function () {
      handleSocials(#{{@social_services.to_json}});
    });

#fb-root

javascript:
  /* Common */
  function handleSocials(services) {
    if (services.length == 0) {
      window.location.replace("/links");
    }

    service = services.shift();

    callback = function () {
      handleSocials(services);
    };

    switch (service) {
      case 'facebook':
        handleFacebook(callback);
        break;
      case 'twitter':
        handleTwitter(callback);
        break;
    }
  }

  /* Facebook */
  var isFacebookReady = false;
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1478886685691302',
      xfbml      : true,
      cookie     : true,
      version    : 'v2.2'
    });

    isFacebookReady = true;
    $(document).triggerHandler('after.fb.init');
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function handleFacebook(callback) {
    handleFacebookResponse = function (response) {
      if (response.status == "connected") {
        $.ajax({
          type: "POST",
          url: "/api/auth/facebook",
          data: response.authResponse,
          success: callback
        });
      } else {
        $.ajax({
          type: "DELETE",
          url: "/api/auth/facebook",
          data: response.authResponse,
          success: function () {
            window.location.replace('/');
          }
        });
      }
    }

    if (isFacebookReady) {
      FB.getLoginStatus(handleFacebookResponse);
    } else {
      $(document).on('after.fb.init', function() {
        FB.getLoginStatus(handleFacebookResponse)
      });
    }
  }


