.row: .col-md-12.text-center: h2 Choose a social network to start
.row.socials
  .col-md-3.col-md-offset-3
    .fb-login-button data-max-rows="1" data-size="xlarge" onlogin="handleFacebook(function() { gotoNextStep(); })" scope="user_posts"
  .col-md-3
    a.twitter-login-button href="#" onclick="handleTwitter(function () { gotoNextStep(); })": img src="/images/sign-in-with-twitter-gray.png"

#fb-root

javascript:
  /* Common */
  function gotoNextStep() {
    window.location.replace("/links");
  }

  /* Facebook */
  var isFacebookReady = false;
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '1478886685691302',
      xfbml      : true,
      cookie     : true,
      version    : 'v2.3'
    });

    isFacebookReady = true;
    $(document).triggerHandler('after.fb.init');
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) { return; }
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));

  function handleFacebook(callback) {
    handleFacebookResponse = function (response) {
      if (response.status == "connected") {
        $.ajax({
          type: "POST",
          url: "/api/auth/facebook",
          data: response.authResponse,
          success: callback
        });
      } else {
        $.ajax({
          type: "DELETE",
          url: "/api/auth/facebook",
          data: response.authResponse,
          success: function () {
            window.location.replace('/');
          }
        });
      }
    }

    if (isFacebookReady) {
      FB.getLoginStatus(handleFacebookResponse);
    } else {
      $(document).on('after.fb.init', function() {
        FB.getLoginStatus(handleFacebookResponse)
      });
    }
  }

  /* Twitter */
  function handleTwitter(callback) {
    var oauth_window = window.open("/api/auth/twitter", 'Twitter', 'status=no,toolbar=no,menubar=no');

    window.oauth_callback = function () {
      oauth_window.close();
      window.focus();
      callback();
    };

    oauth_window.focus();
  }

